{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <div class="container"  >
        {% if submitted %}
        <h1>student with the name ={{sname}} processed successfully</h1>
        <h2>enter next student infromation </h2><hr>
        {% else %}
        <h1>student input form</h1>
        {% endif %}
        <form  method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" name="" value="Submit">
        </form>
    </div>
</body>
</html>