{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello friends, good evening.....</h1>
    <h2>Brand Ambassodor for my classes are:</h2>
    <img src="{% static 'images/desk-loki.jpeg' %}" alt="">
    <h2>My subjects are:</h2>
    <ul>
        <li>{{s1}}</li>
        <li>{{s2}}</li>
        <li>{{s3}}</li>
        <li>{{s4}}</li>
    </ul>
</body>
</html>