{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news portal</title>
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    
</head>
<body>
    <h1>welcome to news portal</h1>
    <img src="{% static 'images/desk-loki.jpeg' %}" alt="">
    <ul>
        <li><a href="movie/">movie information</a></li>
        <li><a href="sport/">sport information</a></li>
        <li><a href="politics/">plitics information</a></li>
    </ul>
</body>
</html>
